* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: flex;
}

.max-width {
    max-width: 800px;
    margin: 0 auto;
}

.cv-btn {
    position: relative;
}

.btn {
    position: absolute;
    bottom: 7%;
    left: 6%;
    cursor: pointer;
}

.before-after{
    position: relative;
}

/* .b-a-1{
    position: absolute;
    max-width: 90%;
    z-index: 1;
    left: 5%;
    /*不知道怎麼擠下去*/

/* 
.b-a-bg{
    position: absolute;
    top: 20%;
}  */ 

.set-bg {
    position: absolute;
    top: 25%;
}

.set-content {
    display: flex;
    justify-content: center;
}

.sets,
.set3,
.set5,
.cv-set3,
.cv-set5 {
    position: relative;
}

.set3,
.set5 {
    position: relative;
    bottom: -1%;
}

.set3btn,
.set5btn {
    position: absolute;
    z-index: 1;
    left: 8%;
    bottom: 0%;
    cursor: pointer;
}

.qa img{
    margin-bottom:1%;

}

/* .qa img::after{
    content:url(./img/qa_btn_open.png)
    /*沒反應???*/

.open-btn{
    position: relative;
}

.open1, .open2, .open3, .open4, .open5{
    position: absolute;
    top:23%;
    right:5%;
    cursor: pointer;
}